@media screen and (max-width:700px){
    header .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        

    }
    header i{
        margin-top: 8px;
    }
   
    .botao{
        margin-top:5px;
        width: 290px;
        height: 50px;
    }
}
@media screen and (min-width:1000px) {
     .descricao{
        width: 50%;
    }
    
}